<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bold.Licensing" version="9.1.14" targetFramework="net48" />
  <package id="BoldReports.WPF" version="9.1.14" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Syncfusion.Chart.WPF.Classic" version="28.2.3" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="28.2.3" targetFramework="net48" />
  <package id="Syncfusion.DocIO.Wpf" version="28.2.3" targetFramework="net48" />
  <package id="Syncfusion.Gauge.WPF" version="28.2.3" targetFramework="net48" />
  <package id="Syncfusion.Grid.WPF" version="28.2.3" targetFramework="net48" />
  <package id="Syncfusion.GridCommon.Wpf" version="28.2.3" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="28.2.3" targetFramework="net48" />
  <package id="Syncfusion.Linq.Base" version="28.2.3" targetFramework="net48" />
  <package id="Syncfusion.OfficeChart.Base" version="28.2.3" targetFramework="net48" />
  <package id="Syncfusion.Pdf.Wpf" version="28.2.3" targetFramework="net48" />
  <package id="Syncfusion.Presentation.Wpf" version="28.2.3" targetFramework="net48" />
  <package id="Syncfusion.SfMaps.WPF" version="28.2.3" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="28.2.3" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF.Classic" version="28.2.3" targetFramework="net48" />
  <package id="Syncfusion.XlsIO.Wpf" version="28.2.3" targetFramework="net48" />
</packages>